block variables

doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
    meta(name="description", content=description)
    meta(name="format-detection", content="telephone=no, email=no, address=no")
    meta(name="robots", content="noindex, nofollow")
    link(rel="stylesheet", href="./../css/style.css")
    script(src="./../js/main.js", defer)

  body#top
    include ../includes/_header.pug

    main
      block content

    include ../includes/_footer.pug